QLabel {
    font-family: 'Inter 18pt';
    font-size: 16px;
    color: #002832;
}

QDialog, QWidget#popup_container {
    background-color: transparent;
    border-radius: 20px;
}

QWidget#main_container {
    background-color: white;
    border-radius: 20px;
}

QWidget#title_section {
    background-color: #145A5A; 
    height: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

QLabel#title_label {
    font-family: 'Narnoor SemiBold';
    font-size: 30px;
    color: #E3F9FA;
    text-align: center;
}

QPushButton#close_button {
    background: transparent;
    border: none;
    font-size: 18px;
    font-family: 'Narnoor SemiBold';
    color: white;
}

QWidget#content_section {
    background-color: white;
    padding: 43px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

QLabel#input_prefix {
    background-color: transparent;
    border: 1px solid #145A5A;
    border-right: none;
    border-top-right-radius: none;
    border-bottom-right-radius: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    padding-left: 8px;
    padding-right: 5px;
    font-family: 'Inter 18pt Medium';
    font-size: 15px;
    color: #002832;
}

QLineEdit#input {
    border: 1px solid #145A5A;
    border-left: none;
    border-top-left-radius: none;
    border-bottom-left-radius: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 10px;
    font-family: 'Inter 18pt ExtraLight';
    font-size: 14px;
}

QLineEdit#input_template {
    border: 1px solid #145A5A;
    border-left: none;
    border-right: none;
    border-top-left-radius: none;
    border-bottom-left-radius: none;
    border-top-right-radius: none;
    border-bottom-right-radius: none;
    padding-left: 10px;
    font-family: 'Inter 18pt ExtraLight';
    font-size: 14px;
}

QSpinBox#spinners {
    border: 1px solid #145A5A;
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-right: 5px;
    font-family: 'Inter 18pt Medium';
    font-size: 16px;
    background-color: white;
}

QSpinBox#spinners::up-button, QSpinBox#spinners::down-button {
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    border-radius: 2px;
    margin: 1px 1px;
}
            
QSpinBox#spinners::up-button:hover, QSpinBox#spinners::down-button:hover {
    border-top-right-radius: 2px;
    background-color: transparent;
}
            
QSpinBox#spinners::up-arrow {
    image: url(assets/icons/up_arrow.png);
    width: 14px;
    height: 14px;
}
            
QSpinBox#spinners::down-arrow {
    image: url(assets/icons/down_arrow.png);
    width: 14px;
    height: 14px;
}

QRadioButton#radio_button {
    spacing: 5px;
}

 QRadioButton#radio_button::indicator {
    width: 22px;
    height: 22px;
    border-radius: 16px;
    border: 2px solid #145A5A;
}

QRadioButton#radio_button::indicator:checked {
    background-color: #145A5A;
    border: 6px solid #145A5A;
}

QPushButton#browse_button {
    background-color: transparent;
    border: 1px solid #145A5A;
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

QPushButton#bottom_button{
    background-color: #145A5A;
    border: none;
    border-radius: 20px;
    color: #E3F9FA;
    font-family: 'Inter 18pt Medium';
    font-size: 15px;
}

QPushButton#bottom_button:hover {
    background-color: #002832;
}